.nav-link{
   color: plum;
   font-family: 'Mooli', sans-serif;
}

.Summertainment{
    color:pink;
    background:white;
    font-family: 'Mooli', sans-serif;
}

.heading{
    color:plum;
    background:white;
    font-family: 'Mooli', sans-serif;
}

.homepage{
    background: linear-gradient(rgb(255, 208, 243),rgb(239, 159, 255));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.indexcards{
    container-type: center;
}

.homepage-barbie{
    background-color: rgb(248, 131, 209);
}

.img-thumbnail-barbie{
   width: 20px;
}



.img-fluid{
    height:600px;
    width:400px;
    padding:20px;
    border: 20px;
}

.movie{
color:rgb(104, 34, 95);
font-family: 'Mooli', sans-serif;
padding:40px;
}

.cruise{
    color:blue;
    font-family: 'Mooli', sans-serif;
    padding:40px;
}

.homepage-alaska{
    background-color: rgb(155, 217, 221);
}

minute{
    background-color: #f8edf8;
    text-align: center;
}
